---
layout: default
---

{% assign postsByDay = site.social-media
    | where_exp:"post", "post.social_network != 'tumblr'"
    | where_exp:"post", "post.signal_boost != 'True'"
    | where_exp:"post", "post.signal_boost_with_comment != 'True'"
    | group_by_exp:"post", "post.timestamp | date: '%Y-%m-%d'"
    | sort: "name"
    | reverse
%}
<div class="pull-right col-sm-3">
    <ul>
    {% for day in postsByDay %}
        <li>
            <a href="#{{ day.name}}">
                {{ day.name | date_to_long_string }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% for day in postsByDay %}
    {% assign posts = day.items | sort_by_exp:"post", "post.timestamp | date_to_xmlschema" %}
    <article>
        <h2 id="{{ day.name }}">
            {{ day.name | date_to_long_string }}
        </h2>
        {% for post in posts %}
            <p>
                {{ post.content }}
            </p>
        {% endfor %}
    </article>
{% endfor %}
