{%- assign categories = post.categories | sort -%}
<article class="excerpt">
  {%- for category in categories -%}
    <span class="category">
      <a href="/{{category}}/">{{ category }}</a>
      {%- if post.tags contains 'project_update' -%}
        &nbsp;
        <span class="project_update" title="Project Update">🗒️</span>
      {%- endif -%}
    </span>
  {%- endfor -%}
  <h2>
    <a href="{{ post.url }}">{{ post.title | escape_once }}</a>
  </h2>
  <blockquote>{{ post.excerpt | markdownify | strip_html | truncatewords: 50, "…" | strip }}</blockquote>
  {%- if include.show_images -%}
    {%- assign images = post.content | split: "<img" | slice: 1, 4 -%}
    {%- assign has_images = images | size -%}
    {%- if has_images -%}
      {%- for image_start in images -%}
        {%- assign image = image_start | split: ">" | first -%}
        <a href="{{ post.url }}"><img {{image}}/></a>
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}
</article>