{%- assign categories = include.post.categories | sort -%}
{%- capture first_image -%}
  {%- if include.show_images -%}
    {%- assign images = include.post.content | split: "<img" | slice: 1 -%}
    {%- assign has_images = images | size -%}
    {%- if has_images -%}
      {%- for image_start in images -%}
        {% comment %} style="background-image: url({{ image_start | strip | split: 'src="' | slice: 1 | first | split: '"' | first | escape }});" data-has-image {% endcomment %}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}
<article class="excerpt" {{ first_image }}>
  {%- for category in categories -%}
    <span class="category">
      <a href="/{{category}}/">{{ category }}</a>
      {%- if include.post.tags contains 'project_update' -%}
        &nbsp;
        <span class="project_update" title="Project Update">🗒️</span>
      {%- endif -%}
    </span>
  {%- endfor -%}
  <h2>
    <a href="{{ include.post.url }}">{{ include.post.title | escape_once }}</a>
  </h2>
  <blockquote>{{ include.post.excerpt | markdownify | strip_html | truncatewords: 100, "…" | strip }}</blockquote>
</article>