@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

#thzincaday {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position:center;
    background-image: url("http://25.media.tumblr.com/avatar_bcbc564375ee_128.png");
    // border-radius: 50%;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
}