.category {
  float: right;
  background-color: var(--background-alt);
  padding: 0.25rem;
  margin: 0 1rem;
  font-size: 0.8rem;
}

.category a {
  color: var(--text-muted);
}

.excerpt img {
  max-height: 5rem;
}

@media (prefers-color-scheme: dark) {
  .invertable {
    filter: invert(1);
  }
}

.h-entry footer span a::before {
  content: "⸱";
  margin: 0 0.25rem;
  color: var(--text-main);
}

.h-entry footer span a:first-child::before {
  content: "";
  margin: 0;
}

.annotatedImage figure {
  width: 100%;
  height: 75vh;
  border: solid 1px var(--border);
  margin: 0;
}

.annotatedImage figure figcaption {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  .annotatedImage .r6o-editor textarea {
    color: #3f3f3f;
  }
}
