@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald:700);

.container {
	width: 100vw;
	height: 100vh;
}

.image {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.heading {
	composes: background-color-primary-0 from "../colors.css";

	position: absolute;
	top: 75%;
	width: 100%;
	z-index: 1;
	text-align: center;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

.view-more {
	composes: fa fa-arrow-up from "font-awesome/css/font-awesome.css";

	position: absolute;
	bottom: 1rem;
	width: 100%;
	text-align: center;
	color: #FFF;
	z-index: 1;
	animation: bounce 1s 3;
}

.text {
	composes: background-color-primary-0 from "../colors.css";
	color: #FFF;

	position: relative;
	padding: 2rem;
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
	/* 960x1280 */
	.container {
		position: relative;
		height: 50vh;
	}

	.image {
		position: absolute;
		top: 0;
		right: 0;
		width: 37.5vh;
		height: 50vh;
	}

	.view-more {
		display: none;
	}

	.text {
		position: absolute;
		top: 0;
		right: 37.5vh;
		height: 50vh;
		padding: 0 2rem;
	}
}

@media (min-width: 1024px) {
	.text {
		left: 10vw;
	}

	.container {
		composes: background-color-primary-1 from "../colors.css";
	}
}

@keyframes bounce {
	0%		{ bottom: 1rem; }
	80%		{ bottom: 1.5rem; }
	100%	{ bottom: 1rem; }
}