.container {}

.calendar {}

.days {}

.day {
	stroke-width: 0;
}

.day:hover {
	stroke-width: 1px;
}

.labels {
	font-family: sans-serif;
	font-size: 50%;
	text-transform: uppercase;
}

.month {
	fill: #999;
}

.dayOfWeek {
	fill: #CCC;
	text-align: center;
}