.container {
	border: solid 1px black;
}

.day:hover {
	fill: red;
}

.calendar {
	width: 100%;
}

.days {

}

.labels {
	font-family: sans-serif;
	font-size: 50%;
	text-transform: uppercase;
	fill: #CCC;
}

.month {

}

.dayOfWeek {
	text-align: center;
}