.container {
	display: flex;
	flex-direction: row;
	padding: 0 0.5rem;
}

.meta {
	order: 1;
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	padding: 0 0.5rem 0 0;
}

.description {
	order: 2;
	flex: 10;
}

.type {
	order: 2;
	flex: 3;
	font-size: 2rem;
}

.pubDate {
	order: 1;
	flex: 1;
	font-size: 0.75rem;
}
