@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.profileLink {
	composes: link from "../colors.css";

	display: block;
	height: 25vw;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
}

.icon {
	font-size: 20vw;
	text-decoration: none;
}

.displayName {
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
}
