<!DOCTYPE html>
{%- assign newest_posts = site.posts | slice: 0, 3 -%}
{%- assign older_posts = site.posts | slice: 3, site.posts.size -%}
{%- assign tags = site.tags | sort -%}
<html>
  {% include head.html %}
  <body>
    <style type="text/css">
      header {
        height: 25vh;
        text-align: center;
      }

      header img {
        height: 100%;
      }

      #oldLink {
        display: none;
      }

      #oldLink.active {
        display: inherit;
      }
    </style>
    <header>
      <img
        src="https://secure.gravatar.com/avatar/eaeac922b9f3cc9fd18cb9629b9e79f6?s=512"
        alt="Avatar of Daniel James a.k.a. thzinc"/>
    </header>
    <details id="oldLink" open>
      <summary>Oops</summary>
      <p>
        It looks like you found an old link. Were you looking for
        <a class="destination" href="#">LINK</a>?
      </p>
    </details>
    <main>
      {{content}}
      <h1>Newest Posts</h1>
      {%- for post in newest_posts -%}
        {%- include post_excerpt.html -%}
      {%- endfor -%}

      <h1>Things I write about</h1>
      <ul>
        {%- for tag in tags -%}
          {%- assign slug = tag | first -%}
          {%- assign tag_permalink = slug | prepend: '/tags/' -%}
          {%- assign tag_page = site.pages | where: "permalink", tag_permalink | first -%}
          <li>
            <a href="{{ tag_page.permalink }}">{{ tag_page.title }}</a>
          </li>
        {%- endfor -%}
      </ul>

      <h1>More Posts</h1>
      {%- for post in older_posts -%}
        {%- include post_excerpt.html -%}
      {%- endfor -%}
    </main>
    <script async type="text/javascript">
      const q = location
        .search
        .replace(/^\?/, "")
        .split("&")
        .map((pair) => pair.split("="))
        .filter(([key]) => key.toLowerCase() == "q")
        .flatMap(([
          _, ...values
        ]) => values)
        .join("=");

      if (q !== "") {
        const oldLink = document.getElementById("oldLink");
        const destination = document.querySelector("#oldLink .destination");
        destination.href = `/${q}`;
        destination.textContent = q;
        oldLink.className = "active";
      }
    </script>
  </body>
</html>