<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="h-entry">
    <header>
      <a href="/" class="p-author">thzinc</a>
    </header>
    <main>
      <article>
        <h1 class="p-name">{{page.title}}</h1>
        {{content}}
      </article>
      {% unless page.see_also == null or page.see_also.size == 0 %}
      <section>
        <h1>See also</h1>
        <ul>
          {% for other in page.see_also %}
          <li>
            <a href="{{other.url}}">{{other.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
      {% endunless %}
    </main>
    <footer>
      <a href="/">Home</a>
      {% unless page.categories == null or page.categories.size == 0 %}
      <span>
        <!--{% assign categories = page.categories | sort %}-->
        –
        <span>
          {% for category in categories %}
          <a href="/{{category}}/">{{category}}</a>
          {% endfor %}
        </span>
      </span>
      {% endunless %} {% unless page.tags == null or page.tags.size == 0 %}
      <span>
        <!--{% assign tags = page.tags | sort %}-->
        –
        <span>
          {% for tag in tags %}
          <a href="/tags/{{tag}}">{{tag | replace: "_", " "}}</a>
          {% endfor %}
        </span>
      </span>
      {% endunless %} {% if page.date %} –
      <span class="dt-published">{{page.date | date: "%Y-%m-%d"}}</span>
      {% endif %}
    </footer>
  </body>
</html>
