<!DOCTYPE html>
<html>
  <!-- 
    {% assign tag = page.name | split: "." | first %}
    {% capture title %}{% if page.title %}{{page.title}}{% else %}{{tag | replace: "_", " "}}{% endif %}{% endcapture %}
    {% assign content_length = content | strip | size %}
    {% assign newest_posts = site.tags[tag] | slice: 0, 3 %}
    {% assign older_posts = site.tags[tag] | slice: 3, site.tags[tag].size %}
  -->
  {% include head.html %}
  <body>
    <header>
      <a href="/">thzinc</a>
    </header>
    <main>
      <h1>{{title}}</h1>
      {% if content_length > 0 %}
        <section>{{content}}</section>
      {% endif %}
      {% for post in newest_posts %}
        {%- include post_excerpt.html show_images=page.show_images -%}
      {% endfor %}

      {% unless page.hide_related_tags %}
        <aside>
          <h1>Related topics</h1>
          {% assign all_tags = site.tags | sort %}
          <ul>
            {% for related_tags in all_tags %}
              {% assign slug = related_tags | first %}
              {% unless slug == tag %}
                {% assign related_posts = related_tags | slice : 1 | first | where : "tags",
                tag | size %}
                {% if related_posts > 0 %}
                  {% assign tag_permalink = slug | prepend : '/tags/' %}
                  {% assign tag_page = site.pages | where : "permalink",
                  tag_permalink | first %}
                  <li>
                    <a href="{{tag_page.permalink}}">{{tag_page.title}}</a>
                  </li>
                {% endif %}
              {% endunless %}
            {% endfor %}
          </ul>
        </aside>
      {% endunless %}

      {% for post in older_posts %}
        {%- include post_excerpt.html show_images=page.show_images -%}
      {% endfor %}
    </main>
    <footer>
      <a href="/">Home</a>
    </footer>
  </body>
</html>